@page "/"

<h1>Sistema de Inventario Global Learning XXI</h1>

<div class="container-fluid">
    <p class="float-lg-end">
        <span class="oi oi-target" style="font-size: 60px"></span>
    </p>
    <p class="h4">
        Bienvenido a tu Sistema de Inventario
    </p>
</div>
<hr />

<CreateInOutComponent />